# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Comp526: Computational Methods for Scientists
author: Valeria Barra
logo: img/SDSU-comp526_logo.png

exclude_patterns: [VENV/*, README.md, activities/*, nbgrader/*, portfolio/*]

parse:
  myst_enable_extensions:
    - amsmath
    - colon_fence
    - dollarmath
    - linkify
    - substitution

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: auto

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/sdsu-comp526/fall24  # Online location of your book
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  favicon: img/SDSU-comp526_logo.png

launch_buttons:
  thebe: true

sphinx:
  config:
    html_extra_path: ["assets"]
    myst_dmath_double_inline: true
